<% include _header %>

<h1> Welcome to chat!</h1>

<div class="container">
<div class="row " style="padding-top:40px;">
    <br /><br />
<!--
CHAT BOX
-->
    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                RECENT CHAT HISTORY
            </div>
            <div class="panel-body">
                <ul class="media-list" id="messages" style="max-height:400px;overflow:auto;">
                    
                    <li class="media">

                        <div class="media-body">

                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-circle " src="" />
                                </a>
                                <div class="media-body" >
                                                    Hi, my name is Hans.  I wrote this chat app.  Welcome!
                                    <br />
                                    <small class="text-muted">Hans Baker | 15 Sept 3:39pm</small>
                                    <hr />
                                </div>
                            </div>

                        </div>
                    </li>

                </ul>
            </div>
<!--
SUBMIT MESSAGE FORM
-->
            <div class="panel-footer">
                <form class="input-group" id="message-input" >
                    <input type="text" class="form-control" placeholder="Enter Message" id="message-input-body" />
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="submit" id="send-button">SEND</button>
                    </span>
                </form>
            </div>
        </div>
    </div>
<!--
ONLINE USERS LIST
-->
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
               ONLINE USERS
            </div>
            <div class="panel-body">
                <ul class="media-list" id="user-list" style="max-height:400px;overflow:auto;">


                    <li class="media">

                        <div class="media-body">

                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-circle" style="max-height:40px;" src="" />
                                </a>
                                <div class="media-body" >
                                    <h5>Hans Baker | User </h5>
                                                    
                                    <small class="text-muted">Actively not here</small>
                                </div>
                            </div>

                        </div>
                    </li>


                </ul>
            </div>
        </div>
        
    </div>
</div>
<!--
TEMPLATES:
message-template = template for message item in chat box
user-template = template for users in user list
-->
<template id ="message-template">
    <li class="media" style="margin-top:0px;">
        <div class="media-body">
                <a class="pull-left" href="#">
                    <img class="media-object img-circle " src="" />
                </a>
                <div class="media-body">
                    <span id='message-body'> </span>
                    <br />
                    <small class="text-muted" id="message-user"></small>
                    <hr />
                </div>            
        </div>
    </li>
</template>
<template id ="user-template">
    <li class="media" style="margin-top:0px;">
        <div class="media-body">
                <a class="pull-left" href="#">
                    <img class="media-object img-circle " src="" />
                </a>
                <div class="media-body">
                    <h5 id='user-displayname'> </h5>
                    <small class="text-muted" id="user-status"></small>
                </div>            
        </div>
    </li>
</template>

<script src="../static/js/chat.js" ></script>

<% include _footer %> 